@model SV20T1020639.Web.Models.ProductSearchInput
@{
    ViewBag.Title = "Lập đơn hàng";
}


<div class="box box-primary">
    @if (!string.IsNullOrEmpty(TempData["Message"] as string))
    {
        <div class="alert alert-danger alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Lỗi!</strong> @TempData["Message"]
        </div>
    }
    <div class="box-body">

        <!-- Tìm kiếm, hiển thị và chọn hàng đưa vào giỏ -->
        <div class="col-md-4">
            <!-- Form tìm kiếm mặt hàng -->
            <h4>Lựa chọn hàng cần bán</h4>
            <form id="formSearch" action="~/Order/SearchProduct" method="get"
                  data-container="#searchResult">
                @Html.HiddenFor(m => m.PageSize)
                <div class="input-group">
                    <input type="text" name="@nameof(Model.SearchValue)"
                           class="form-control"
                           placeholder="Nhập tên mặt hàng cần tìm" value="@Model.SearchValue">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-flat btn-info">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </form>

            <!-- Nơi sử dụng để hiển thị danh sách mặt hàng timg được -->
            <div id="searchResult"></div>
            @* <div class="col-md-8">
               
            </div> *@

            <!-- Form nhập thông tin về khách hàng, nơi giao hàng và khởi tạo đơn hàng -->
            @* <form id="formOrderInit" action="~/Order/Init"
                  method="post" class="form-horizontal">
                <h4>Thông tin về khách hàng và địa chỉ giao hàng</h4>
                <div class="form-group">
                    <label class="control-label col-sm-2">Khách hàng:</label>
                    <div class="col-sm-10">
                     

                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Tỉnh/thành:</label>
                    <div class="col-sm-10">
                       

                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Địa chỉ nhận hàng:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="deliveryAddress" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <span id="orderInitMessage" style="color:#f00"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 text-right">
                        <button type="submit" class="btn btn-sm btn-primary">
                            <i class="fa fa-plus-circle"></i> Lập đơn hàng
                        </button>
                    </div>
                </div>
            </form> *@

           @*  <div>
                <!-- Hiển thị danh sách mặt hàng tìm được -->
                @for (int i = 1; i <= 5; i++)
                {
                    <form action="#" method="post" style="background-color:#fff; border:1px solid #ccc; margin:5px 0px 5px 0px; padding:5px;">
                        <div class="row">
                            <div class="col-md-12">
                                <strong>Macbook Pro 15" M2 2023</strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <img class="img img-responsive img-bordered" src="~/images/products/macbook_pro.png">
                            </div>
                            <div class="col-sm-9">
                                <div class="form-group-sm">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <label>Giá bán:</label>
                                            <input class="form-control" type="text" value="45,000,000" name="SalePrice" />
                                        </div>
                                        <div class="col-md-5">
                                            <label>Số lượng:</label>
                                            <input class="form-control" type="number" value="1" min="1" name="Quantity" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group-sm" style="margin-top:2px;">
                                    <button type="submit" class="btn btn-sm btn-primary">
                                        <i class="fa fa-shopping-cart"></i> Thêm vào giỏ
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                }

                <ul class="pager">
                    <li class="previous"><a href="#"><i class="fa fa-backward"></i></a></li>
                    <li class="next"><a href="#"><i class="fa fa-forward"></i></a></li>
                </ul>

            </div> *@
        </div>

        <!-- Thông tin giỏ hàng, khách hàng -->
        <div class="col-md-8">
            <!-- Giỏ hàng -->
            <!-- Hiển thị danh sách các mặt hàng trong giỏ -->
            <h4>Danh sách mặt hàng đã chọn</h4>
            <div id="shoppingCart"></div>

            <!-- Nhập khách hàng, nhân viên phụ trách và khởi tạo đơn hàng -->
            <form action="~/Order/Init" method="post" class="form-horizontal">
                <h4>Thông tin về khách hàng và địa chỉ giao hàng</h4>
                <div class="form-group">
                    <label class="control-label col-sm-2">Khách hàng:</label>
                    <div class="col-sm-10">
                        <select class="form-control" name="customerID">
                            @foreach (var item in SelectListHelper.Customers())
                            {
                                if (item.Value == Model.CustomerID.ToString())
                                {
                                    <option value="@item.Value" selected>@item.Text</option>
                                }
                                else
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            }
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2">Tỉnh/thành:</label>
                    <div class="col-sm-10">
                        <select class="form-control" name="deliveryProvince">
                            @foreach (var item in SelectListHelper.Provinces())
                            {
                                if (item.Value == Model.ProvinceName)
                                {
                                    <option value="@item.Value" selected>@item.Text</option>
                                }
                                else
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Địa chỉ nhận hàng:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="deliveryAddress" id="deliveryAddress" required />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 text-right">
                        <button type="submit" class="btn btn-sm btn-primary">
                            <i class="fa fa-plus-circle"></i> Lập đơn hàng
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section scripts {
    <script>
        $(document).ready(function (e) {
            $("#formSearch").submit(function (e) {
                e.preventDefault();
                doSearch(this, 1);
                return;
            });
            $("#formOrderInit").submit(function (e) {
                e.preventDefault();
                var deliveryAddress = $("#deliveryAddress").val();
                if (deliveryAddress.trim() === "") {
                    alert("Vui lòng nhập địa chỉ nhận hàng!");
                    return;
                }
                var action = $(this).prop("action");
                var method = $(this).prop("method");
                var data = $(this).serializeArray();
                $.ajax({
                    url: action,
                    type: method,
                    data: data,
                    async: false,
                    error: function () {

                        alert("Your request is not valid!");
                    },

                    success: function (data) {
                        if (isNaN(data)) {
                            $("#orderInitMessage").html(data);
                        } else {
                            window.location.href = "/Order/Details/" + data;
                        }
                    }
                });
                return;
            });
            doSearch("#formSearch", @Model.Page);
            showShoppingCart();
        });
        function doSearch(formSearch, page) {
            var action = $(formSearch).prop("action");
            var method = $(formSearch).prop("method");
            var container = $(formSearch).data("container");
            var searchData = $(formSearch).serializeArray();
            searchData.push({ "name": "Page", "value": page });
            $.ajax({
                url: action,
                type: method,
                data: searchData,
                async: false,
                error: function () {
                    alert("Your request is not valid!");
                },
                success: function (data) {
                    $(container).html(data);
                }
            });
        }
        function showShoppingCart() {
            $.ajax({
                url: "/Order/ShowShoppingCart",
                type: "GET",
                async: false,
                error: function () {
                    alert("Your request is not valid!");
                },
                success: function (data) {
                    $("#shoppingCart").html(data);
                }
            });
        }
    </script>
}

