@model SV20T1020639.DomainModels.Supplier
@{
    ViewBag.Title = "Xóa nhà cung cấp";
}


<div class="box box-danger">
    <div class="box-body">
        <form class="form-horizontal" method="post" action="~/Supplier/Delete/@Model.SupplierID">
            <div class="form-group">
                <label class="control-label col-sm-2">Tên nhà cung cấp:</label>
                <p class="form-control-static">@Model.SupplierName</p>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Tên giao dịch:</label>
                <p class="form-control-static">@Model.ContactName</p>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Điện Thoại:</label>
                <p class="form-control-static">@Model.Phone</p>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Email:</label>
                <p class="form-control-static">@Model.Email</p>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Địa chỉ:</label>
                <p class="form-control-static">@Model.Address</p>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Tỉnh thành:</label>
                <p class="form-control-static">@Model.Provice</p>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Ngày thành lập:</label>
                <p class="form-control-static">@Model.BirthDate.ToString("dd/MM/yyyy", new System.Globalization.CultureInfo("en-GB"))</p>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-1 col-sm-10">
                    @if (!SV20T1020639.BusinessLayers.CommonDataService.IsUsedSupplier(Model.SupplierID))
                    {
                        <button type="submit" class="btn btn-danger">
                            <i class="fa fa-trash"></i>Xóa dữ liệu
                        </button>
                    }
                    <a href="~/Supplier" class="btn btn-defalt">
                        Quay lại
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>
