@model SV20T1020639.DomainModels.Customer

@{
    ViewBag.Title = "Xóa khách hàng";
}

<div class="box box-danger">
    <div class="box-body">
        <form class="form-horizontal" method="post" action="~/Customer/Delete/@Model.CustomerID">
            <div class="form-group">
                <label class="control-label col-sm-2">Tên khách hàng:</label>
                <p class="form-control-static">@Model.CustomerName</p>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Tên giao dịch:</label>
                <p class="form-control-static">@Model.ContactName</p>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Điện Thoại:</label>
                <p class="form-control-static">@Model.Phone</p>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Email:</label>
                <p class="form-control-static">@Model.Email</p>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Địa chỉ:</label>
                <p class="form-control-static">@Model.Address</p>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Tỉnh thành:</label>
                <p class="form-control-static">@Model.Province</p>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Trạng thái:</label>
                <p class="form-control-static">@(Model.IsLocked ? " Tài khoản đang bị khóa" : "Tài khoản đang hoạt động")</p>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-1 col-sm-10">
                    @if (!SV20T1020639.BusinessLayers.CommonDataService.IsUsedCustomer(Model.CustomerID))
                    {
                        <button type="submit" class="btn btn-danger">
                            <i class="fa fa-trash"></i>Xóa dữ liệu
                        </button>
                    }
                <a href="~/Customer" class="btn btn-defalt">
                    Quay lại
                </a>
                </div>
            </div>
        </form>
    </div>
</div>